<!DOCTYPE html>
<html>
  <head>
    <title>AirBnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.greetingBackground = "<%= image_url("greeting_background.jpg") %>"
      window.airbnbLogo = "<%= image_url("airbnb_logo.png") %>"
    </script>
</head>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
